<div style="margin-top: 80px; margin-bottom: 50px" class="wrapper">
  <h1>Music Cart</h1>
  <div class="project">
    <div class="shop">
      <div class="box" *ngFor="let item of orderAlbum">
        <img src="{{item.album.images[0].urlImage}}">
        <div class="content">
          <h3>{{item.album.title}}</h3>
          <h4>Price: {{item.album.price}} VND</h4>
          <p class="unit">Quantity: <input name="" value="{{item.quantity}}"></p>
          <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
        </div>
      </div>
    </div>
    <div class="right-bar">
      <p><span>Subtotal</span> <span>{{subtotal}} VND</span></p>
      <hr>
      <p><span>Tax (5%)</span> <span>$6</span></p>
      <hr>
      <p><span>Shipping</span> <span>$15</span></p>
      <hr>
      <p><span>Total</span> <span>$141</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
      <div style="margin-top: 50px" id="myPaypalButtons"></div>
    </div>

  </div>
</div>

