<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <p>See what’s new</p>
    <h2>Latest Albums</h2>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Album Catagory Area Start ##### -->
<section class="album-catagory section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-md-12 pb-4 d-flex">
            <input #nameAlbum type="text" style="width: 50%" class="form-control mx-3" placeholder="Tìm tên album ?..."
                   (keyup.enter)="findAlbum(nameAlbum.value)">
            <select class="form-control me-3" style="width: 30%">
              <option hidden>Thể loại</option>
              <option>Pop</option>
              <option>Ballad</option>
              <option>Rock</option>
            </select>

            <button type="submit" class="btn btn-outline-success" style="font-weight: bold"
                    (click)="findAlbum(nameAlbum.value)">Tìm Kiếm
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="row oneMusic-albums">

      <!-- Single Album -->
      <div *ngFor="let item of albums" class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t c p">
        <div class="single-album">
          <div (mouseleave)="resetQuantity()" class="single-album__adding-detail">
            <span>Thêm vào giỏ hàng</span>
            <div class="adding-detail__quantity">
              <div class="adding-detail__quantity-detail">
                <div (click)="subQuantity()" class="quantity-detail__icon">
                  <i class="fa-solid fa-minus"></i>
                </div>
                <div class="quantity-detail__number">{{amountAlbum}}</div>
                <div (click)="plusQuantity()" class="quantity-detail__icon">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <button (click)="addAlbum(item.id,amountAlbum)" class="adding-detail__quantity-button">Thêm</button>
            </div>
          </div>

          <img src="{{item.images[0].urlImage}}" alt="">
          <div class="album-info">
            <a [routerLink]="['/detail',item.id]">
              <h5>{{item.title}}</h5>
            </a>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ##### Album Catagory Area End ##### -->
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="my__pagination" *ngIf="pageData">
      <li class="my__page-item pointer" [ngClass]="pageData.number == 0 ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(0)">
                Trang Đầu
              </span>
      </li>
      <li class="my__page-item pointer" [ngClass]="pageData.number == 0 ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(pageData.number - 1)">
                Trước
              </span>
      </li>
      <li class="my__page-item pointer d-flex justify-content-center align-items-center">
        <!--                *ngFor="let pageNumber of [].constructor(auctionPageByProductId.totalPages), let i = index">-->
        <!--                [ngClass]="auctionPageByProductId.number == i ?'actived': ''">-->
        <span>{{(pageData.pageable.pageNumber) + 1}}/{{pageData.totalPages}}</span>
        <!--              <span class="my__page-link" (click)="goToPage(i)">{{i + 1}}</span>-->
      </li>
      <li class="my__page-item pointer"
          [ngClass]="pageData.number + 1 == pageData.totalPages ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(pageData.number + 1)">
                Sau
              </span>
      </li>
      <li class="my__page-item pointer" [ngClass]="pageData.number + 1 == pageData.totalPages ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(pageData.totalPages -1)">
                Trang Cuối
              </span>
      </li>
    </ul>
  </nav>
</div>
<!-- ##### Buy Now Area Start ##### -->
<div class="oneMusic-buy-now-area mb-100">
  <div class="container">
    <div class="row">
    </div>

    <!--    <div class="row">-->
    <!--      <div class="col-12">-->
    <!--        <div class="load-more-btn text-center">-->
    <!--          <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
<!-- ##### Buy Now Area End ##### -->

<!-- ##### Add Area Start ##### -->
<div class="add-area mb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="adds">
          <a href="#"><img style="width: 100%"
                           src="https://media.molistar.com/thumb_w/editors/2022/10/21/SXvfU4upDf9esnbqPpivtCWJLHjTM1GxMHXWjVGQ_680.jpg"
                           alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Add Area End ##### -->

<!-- ##### Song Area Start ##### -->
<div class="one-music-songs-area mb-70">
  <div class="container">
    <div class="row">

      <!-- Single Song Area -->
      <div class="col-12">
        <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
          <div class="song-thumbnail">
            <img src="../../../../assets/img/bg-img/s1.jpg" alt="">
          </div>
          <div class="song-play-area">
            <div class="song-name">
              <p>01. Main Hit Song</p>
            </div>
            <audio preload="auto" controls>
              <source src="../../../../assets/audio/audio.mp3">
            </audio>
          </div>
        </div>
      </div>

      <!-- Single Song Area -->
      <div class="col-12">
        <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
          <div class="song-thumbnail">
            <img src="../../../../assets/img/bg-img/s2.jpg" alt="">
          </div>
          <div class="song-play-area">
            <div class="song-name">
              <p>01. Main Hit Song</p>
            </div>
            <audio preload="auto" controls>
              <source src="../../../../assets/audio/dummy-audio.mp3">
            </audio>
          </div>
        </div>
      </div>

      <!-- Single Song Area -->
      <div class="col-12">
        <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
          <div class="song-thumbnail">
            <img src="../../../../assets/img/bg-img/s3.jpg" alt="">
          </div>
          <div class="song-play-area">
            <div class="song-name">
              <p>01. Main Hit Song</p>
            </div>
            <audio preload="auto" controls>
              <source src="../../../../assets/audio/audio.mp3">
            </audio>
          </div>
        </div>
      </div>

      <!-- Single Song Area -->
      <div class="col-12">
        <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
          <div class="song-thumbnail">
            <img src="../../../../assets/img/bg-img/s4.jpg" alt="">
          </div>
          <div class="song-play-area">
            <div class="song-name">
              <p>01. Main Hit Song</p>
            </div>
            <audio preload="auto" controls>
              <source src="../../../../assets/audio/dummy-audio.mp3">
            </audio>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ##### Song Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img"
         style="background-image: url(assets/img/bg-img/bg-2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading white">
          <p>See what’s new</p>
          <h2>Get In Touch</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Contact Form Area -->
        <div class="contact-form-area">
          <form action="#" method="post">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                            placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

