.my__pagination{
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
}
.my__page-item {
  margin: 0 4px;
  border-radius: 4px;
  display: block;
  padding: 2px 16px;
  list-style: none;
  border: 1px solid #e74c3c;

}
.my__page-item:hover {
  color: white;
  background-color: rgba(231, 76, 60, 0.96);
  cursor: pointer;
  transition: background-color, 0.5s;
}
.my__active {
  background-color: rgba(231, 76, 60, 0.81);
  color: whitesmoke;
}
.my__page-link {
  font-weight: bold;

}
.page-link {
  font-size: 16px;
}

.my__page-item.actived {
  color: white;
  background-color: #e74c3c;
}
.product__price::first-letter {
  right: 200px;
  margin-right: 8px;
}
.currency__title::first-letter {
  color: transparent;
}
.nothing-auction {
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  color: #e74c3c;
  font-size: 28px;
  margin-top: 16px;
  width: 100%;
  text-transform: capitalize;
}

