<header class="header-area">
  <!-- Navbar Area -->
  <div class="oneMusic-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="oneMusicNav">

          <!-- Nav brand -->
          <a routerLink="/" class="nav-brand"><img style="height: 60px" src="../../../assets/img/core-img/logoQuangND.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/album">Albums</a></li>
                <li *ngIf="checklogin && checkrole==0"><a routerLink="/playlist">Playlist</a></li>
                <li *ngIf="checklogin && checkrole==1"><a routerLink="/user">User</a></li>

                  <!--                  <ul class="dropdown">-->
                  <!--                    <li><a href="index.html">Home</a></li>-->
                  <!--                    <li><a href="albums-store.html">Albums</a></li>-->
                  <!--                    <li><a href="event.html">Events</a></li>-->
                  <!--                    <li><a href="blog.html">News</a></li>-->
                  <!--                    <li><a href="contact.html">Contact</a></li>-->
                  <!--                    <li><a href="elements.html">Elements</a></li>-->
                  <!--                    <li><a href="login.html">Login</a></li>-->
                  <!--                    <li><a href="#">Dropdown</a>-->
                  <!--                      <ul class="dropdown">-->
                  <!--                        <li><a href="#">Even Dropdown</a></li>-->
                  <!--                        <li><a href="#">Even Dropdown</a></li>-->
                  <!--                        <li><a href="#">Even Dropdown</a></li>-->
                  <!--                        <li><a href="#">Even Dropdown</a>-->
                  <!--                          <ul class="dropdown">-->
                  <!--                            <li><a href="#">Deeply Dropdown</a></li>-->
                  <!--                            <li><a href="#">Deeply Dropdown</a></li>-->
                  <!--                            <li><a href="#">Deeply Dropdown</a></li>-->
                  <!--                            <li><a href="#">Deeply Dropdown</a></li>-->
                  <!--                            <li><a href="#">Deeply Dropdown</a></li>-->
                  <!--                          </ul>-->
                  <!--                        </li>-->
                  <!--                        <li><a href="#">Even Dropdown</a></li>-->
                  <!--                      </ul>-->
                  <!--                    </li>-->
                  <!--                  </ul>-->
                <li><a href="event.html">Events</a></li>
                <li><a href="blog.html">Guide</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>

              <!-- Login/Register & Cart Button -->
              <div class="login-register-cart-button d-flex align-items-center">
                <!-- Login/Register -->
                <div *ngIf="checklogin && checkrole==0" class="cart-btn">
                  <p [routerLink]="['/payment','']"><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                </div>
                <div class="login-register-btn mr-50">
                  <a *ngIf="!checklogin" routerLink="/login" id="loginBtn">Login / Register</a>
                </div>

                <div class="login-register-btn mr-50">
                  <a *ngIf="checklogin" (click)="logOut()">Log Out</a>
                </div>

                <!-- Cart Button -->

              </div>
            </div>
            <!-- Nav End -->

          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

